{% extends "header.html" %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <link rel="canonical" href="https://appseed.us/product/volt-dashboard/django/">

    <title>Персональные настройки</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/flash_messages.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/wtforms_messages.css') }}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/cropperjs/1.5.11/cropper.min.css"/>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/photo_editor.css') }}">
    <link type="text/css" href="https://appsrv1-147a1.kxcdn.com/volt-dashboard-django-v1.0.8/css/volt.css"
          rel="stylesheet">

    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="../static/js/user_info.js"></script>
    <style>
        .button {
            display: block;
            height: 38px;
            background: #FFD914;
            border-radius: 12px;
            text-transform: uppercase;
            line-height: 24px;
            border: none;
            width: 100%;
            margin: 0 auto;
            transition: background .15s linear;
        }

        .button:hover {
            background: #FFA914;
            transition: background .15s linear;
        }
    </style>
</head>

{% block body %}
<div>
    <div class="messages">
        {% with messages = get_flashed_messages(with_categories=true) %}
            {% if messages %}
                {% for message in messages %}
                    <div class="{{ message[0] }}" style="text-align: center; margin-top: -10px">
                        {{ message[1] }}
                    </div>
                {% endfor %}
            {% endif %}
        {% endwith %}
    </div>
    <form action="/user/settings/{{ session['userId'] }}" method="post">
        <div style="display: flex;">
            <div>
                <h4>Основная информация</h4>
                <label for="lastName">Фамилия: </label>
                <input type="text" id="lastName" name="lastName" value="{{ user_info['lastName'] }}">
                <p></p>
                <label for="firstName">Имя: </label>
                <input type="text" id="firstName" name="firstName" value="{{ user_info['firstName'] }}">
                <p></p>
                <label for="middleName">Отчество: </label>
                <input type="text" id="middleName" name="middleName" value="{{ user_info['middleName'] }}">
                <p></p>
                <label for="birthday">Дата рождения: </label>
                <input type="date" id="birthday" name="birthday" value="{{ user_info['birthday'] }}" required>
                <p></p>
                <label for="email">E-mail: {{ user_email }}</label>
                <a href="/settings/email/{{ session['userId'] }}">Изменить e-mail</a>
                <p></p>
                <label for="password">Пароль: </label>
                <a href="/settings/password/{{ session['userId'] }}">Изменить пароль</a>
                <p></p>
                <button id="submit" type="submit">Сохранить изменения</button>
                <a href="/">Назад</a>
            </div>
    </form>
    <form action="/user/settings/{{ session['userId'] }}" method="post" enctype="multipart/form-data">
        <div style="margin-left: 60px">
            <h4>Фотография: </h4>
            <div style="width: 640px; height: 360px">
                <img src="{{ user_info['avatar'] }}" width="250" height="250" alt="{{ user_info['avatar'] }}">
                <input type="file" id="avatarImage" name="avatar" accept="image/jpeg, image/png"/>
                <img id="avatarImageEdit" src="" alt="Фотография профиля (upload)"/>
            </div>
        </div>
        <button id="submit" type="submit">Загрузить</button>
    </form>
</div>
<script src="https://cdnjs.cloudflare.com/ajax/libs/cropperjs/1.5.11/cropper.min.js"></script>
<script src="{{ url_for('static', filename='js/photo_editor.js') }}"></script>

{% endblock %}
</html>
