{% extends 'base.html' %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <title>
    {% block title %}Главная страница{% endblock %}
    </title>
</head>

<body>
{% block main %}

    {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
            {% for message in messages %}
                <div class="{{ message[0] }}" style="text-align: center; margin-top: -10px">
                    {{ message[1] }}
                </div>
            {% endfor %}
        {% endif %}
    {% endwith %}

    {% if user_organizers %}
        <div class="py-4">
            <div class="dropdown">
                <a href="/event/create">
                    <button class="btn btn-gray-800 d-inline-flex align-items-center me-2 dropdown-toggle"
                            aria-haspopup="true" aria-expanded="false">
                        <svg class="icon icon-xs me-2" fill="none" stroke="currentColor" viewBox="0 0 24 24"
                             xmlns="http://www.w3.org/2000/svg">
                            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                                  d="M12 6v6m0 0v6m0-6h6m-6 0H6"></path>
                        </svg>
                        Добавить мероприятие
                    </button>
                </a>
            </div>
        </div>
        {% if organizer_events %}
            <div class="row">
                {% for event in organizer_events %}
                    <div class="mb-4" style="width: 417px">
                        <div class="card border-0 shadow">
                            <div class="card-body">
                                <div class="row d-block d-xl-flex align-items-center"
                                     style="margin-left: 7px; margin-right: 7px">
                                    <div class=" text-xl-center mb-2 d-flex align-items-center justify-content-xl-center">
                                        <a style="position: absolute; top: 3%; right: 2%"
                                           href="/event/delete/{{ event['id'] }}">
                                            <button style="padding: 2px; background-color: #f58887;"
                                                    class="btn d-inline-flex align-items-center">
                                                <img width="20"
                                                     src="https://img.icons8.com/?size=512&id=DU8dSXkvLUkx&format=png"
                                                     alt="">
                                            </button>
                                        </a>
                                        <a style="position: absolute; top: 11%; right: 2%"
                                           href="/event/edit/{{ event['id'] }}">
                                            <button style="padding: 2px; background-color: #f2c689; color: #7C3AED"
                                                    class="btn d-inline-flex align-items-center">
                                                <img width="20"
                                                     src="https://img.icons8.com/?size=512&id=AuMLFRmG95tQ&format=png"
                                                     alt="">
                                            </button>
                                        </a>
                                        <img style="border-radius: 8px"
                                             src="https://www.mirf.ru/wp-content/uploads/2020/09/Gurren-Lagann-10.jpg"
                                             alt="">
                                    </div>
                                    <div>
                                        <div>
                                            <h6 class="text-gray-400 mb-0">{{ event['organizer']['name'] }}</h6>
                                            <h5 class="fw-extrabold mb-1">
                                                <span class="venueName">{{ event['name'] }}</span>
                                            </h5>
                                        </div>
                                        <small class="align-items-center text-gray-500">
                                            {{ event['eventDates'][0]['startDateTime'] }}
                                            - {{ event['eventDates'][0]['endDateTime'] }}
                                            <div style="margin-bottom: 12px">
                                                <img style="margin-top: -4px" width="16px"
                                                     src="https://img.icons8.com/?size=512&id=Hh5ONdvsAI4P&format=png"
                                                     alt="">
                                                {{ event['venues'][0]['city']['name'] }}, {{ event['venues'][0]['address'] }}
                                            </div>
                                        </small>
                                        <div class="small d-flex mt-1"
                                             style="display: flex; justify-content: space-between">
                                            <div>
                                                <img style="margin-top: -3px" width="20"
                                                     src="https://img.icons8.com/?size=512&id=4r3xdsxcmOTJ&format=png"
                                                     alt="">
                                                25 / 35
                                            </div>
                                            <div>
                                                <img style="margin-top: -3px" width="20"
                                                     src="https://img.icons8.com/?size=512&id=KiABGKCqbFG8&format=png"
                                                     alt="">
                                                3780 / 10000 ₽
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
        {% else %}
            <div class="card card-body border-0 shadow table-wrapper table-responsive" style="margin-bottom: 500px">
                <div style="display: flex;">
                    <span style="color: gray">У вас нет мероприятий.</span>
                </div>
            </div>
        {% endif %}
    {% else %}
            <div class="card card-body border-0 shadow table-wrapper table-responsive" style="margin-bottom: 500px">
                <div style="display: flex;">
                    <a style="color: blue" href="/organizer/create">Добавьте организатора</a>, чтобы проводить мероприятия.
                </div>
            </div>
    {% endif %}

<script src="{{ url_for('static', filename='js/name_limit.js') }}"></script>
{% endblock %}

</body>
</html>