{% extends "header.html" %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/flash_messages.css') }}">
    <link type="text/css" href="https://appsrv1-147a1.kxcdn.com/volt-dashboard-django-v1.0.8/css/volt.css"
          rel="stylesheet">
    {#    <style>#}
    {#    body {#}
    {#      background-color: black;#}
    {#    }#}
    {#  </style>#}
</head>
{% block body %}
    {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
            {% for message in messages %}
                <div class="{{ message[0] }}" style="text-align: center; margin-top: -10px">
                    {{ message[1] }}
                </div>
            {% endfor %}
        {% endif %}
    {% endwith %}
    <div>
        {% if user_organizers %}
            <div style="display: flex; justify-content: space-between; margin-bottom: 15px">
                {#                <h5>(Фильтрация по статусу ACTIVE)</h5>#}
                <h5>Статистика мероприятий</h5>
                <div>
                    <a href="/event/create">
                        <button>Создать мероприятие</button>
                    </a>
                </div>

            </div>
            <div class="card card-body border-0 shadow table-wrapper table-responsive">
                {% if organizer_events %}
                    <table class="table table-hover">
                        <thead>
                        <tr style="text-align: center">
{#                            <th class="border-gray-200" style="text-align: start">Мероприятие <img#}
{#                                    style="margin-top: -4px"#}
{#                                    width="20"#}
{#                                    src="https://img.icons8.com/?size=512&id=13800&format=png"#}
{#                                    alt=""></th>#}
{#                            <th class="border-gray-200">Организатор <img style="margin-top: -4px" width="22"#}
{#                                                                         src="https://img.icons8.com/?size=512&id=151IAtg8gTZE&format=png"#}
{#                                                                         alt=""></th>#}
{#                            <th class="border-gray-200">Кол-во участников <img style="margin-top: -4px" width="22"#}
{#                                                                               src="https://img.icons8.com/?size=512&id=22122&format=png"#}
{#                                                                               alt=""></th>#}
{#                            <th class="border-gray-200">Собрано <img style="margin-top: -4px" width="20"#}
{#                                                                     src="https://img.icons8.com/?size=512&id=13008&format=png"#}
{#                                                                     alt=""></th>#}
{#                            <th class="border-gray-200">Рейтинг <img style="margin-top: -6px" width="20"#}
{#                                                                     src="https://img.icons8.com/?size=512&id=19295&format=png"#}
{#                                                                     alt=""></th>#}
{#                            <th class="border-gray-200">Начало-окончание <img style="margin-top: -4px" width="20"#}
{#                                                                              src="https://img.icons8.com/?size=512&id=12776&format=png"#}
{#                                                                              alt=""></th>#}
{#                            <th class="border-gray-200">Статус <img style="margin-top: -4px" width="20"#}
{#                                                                    src="https://img.icons8.com/?size=512&id=ENl0nEMCLBRE&format=png"#}
{#                                                                    alt=""></th>#}
{#                            <th class="border-gray-200">Действия <img style="margin-top: -4px" width="20"#}
{#                                                                      src="https://img.icons8.com/?size=512&id=21618&format=png"#}
{#                                                                      alt=""></th>#}
                                                <th class="border-gray-200" style="text-align: start">Мероприятие</th>
                                                <th class="border-gray-200">Кол-во участников</th>
                                                <th class="border-gray-200">Собрано доната</th>
                                                <th class="border-gray-200">Рейтинг</th>
                                                <th class="border-gray-200">Начало-окончание </th>
                                                <th class="border-gray-200">Статус</th>
                                                <th class="border-gray-200">Действия</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for event in organizer_events %}
                            <tr style="text-align: center">
                                <td style="text-align: start; overflow: hidden; text-overflow:
                                ellipsis; white-space: nowrap; width: 280px;">
                                    <span class="fw-normal">{{ event['name'] }}</span>
                                    {#                                    <span class="venueName">ffffffffffffffffffffffffffffffffffffffffffffffffff</span>#}
                                </td>
                                <td>{{ event['organizer']['name'] }}</td>
                                <td><span>0</span></td>
                                <td><span>7500 / 10000 ₽</span></td>
                                <td><span>4.0</span></td>
                                <td>
                                    <span class="fw-normal">
                                        {{ event['eventDates'][0]['startDateTime'] }}</span>
                                    <br>{{ event['eventDates'][0]['endDateTime'] }}
                                </td>
                                <td><span class="fw-normal">ааа</span></td>
                                <td>
                                    <div style="width: 90px;" class="btn-group">
                                        <a href="event/edit/{{ event['id'] }}"
                                           style="background-color: gold; color: black"
                                           class="btn btn-sm btn-primary"
                                           type="button">
                                            <img width="23"
                                                 src="https://img.icons8.com/?size=512&id=pdnjLNobBuVP&format=png"
                                                 alt="">
                                        </a>
                                        {#                                        <a href="event/{{ event['id'] }}" style="background-color: red; color: black"#}
                                        <a href="#" style="background-color: red; color: black"
                                           class="btn btn-sm btn-primary"
                                           type="button">
                                            <img width="23"
                                                 src="https://img.icons8.com/?size=512&id=hAgqCJvPtOFR&format=png"
                                                 alt="">
                                        </a>
                                    </div>
                                </td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                    <div class="card-footer px-3 border-0 d-flex flex-column flex-lg-row align-items-center"
                         style="justify-content: center">
                        <nav aria-label="Page navigation example">
                            <ul class="pagination mb-0">
                                <li class="page-item">
                                    <a class="page-link" href="#">
                                        <img width="15" src="https://img.icons8.com/?size=512&id=40217&format=png"
                                             alt="">
                                    </a>
                                </li>
                                <li class="page-item">
                                    <a class="page-link" href="#">1</a>
                                </li>
                                <li class="page-item active">
                                    <a class="page-link" href="#">2</a>
                                </li>
                                <li class="page-item">
                                    <a class="page-link" href="#">3</a>
                                </li>
                                <li class="page-item">
                                    <a class="page-link" href="#">4</a>
                                </li>
                                <li class="page-item">
                                    <a class="page-link" href="#">5</a>
                                </li>
                                <li class="page-item">
                                    <a class="page-link" href="#">
                                        <img width="15" src="https://img.icons8.com/?size=512&id=7849&format=png"
                                             alt="">
                                    </a>
                                </li>
                            </ul>
                        </nav>
                        {#                <div class="fw-normal small mt-4 mt-lg-0">Showing <b>5</b> out of <b>25</b> entries</div>#}
                    </div>
                    </div>
                {% else %}
                    <div style="margin-bottom: -23px">
                        <h6 style="color: gray">У вас нет мероприятий.</h6>
                    </div>

                {% endif %}
            <p></p>
        {% else %}
            <div class="card card-body border-0 shadow table-wrapper table-responsive">
                <div style="display: flex;">
                    <a style="color: blue" href="/organizer/create">
                        Создайте организатора</a>, чтобы проводить мероприятия.
                </div>
            </div>
        {% endif %}
    </div>
    {#    <script src="../static/js/name_limit.js"></script>#}
    <script src="{{ url_for('static', filename='js/name_limit.js') }}"></script>
{% endblock %}
</html>