{% extends 'base.html' %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <title>
        {% block title %}{{ event_info['name'] }}{% endblock %}
    </title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/wtforms_messages.css') }}">
</head>

<body>
{% block page_title %}Редактирование мероприятия{% endblock page_title %}

{% block main %}

    <form action="/event/edit/{{ event_info['id'] }}" method="post" enctype="multipart/form-data">
        <div class="card mt-2 mb-4">
            <div class="table-header shadow" style="background-color: #f8e7c9">
                <div class="card-body">
                    <span class="h5">Основная информация</span>
                </div>
            </div>

            <div class="card-body">
                <div class="row">
                    <div class="col-3">
                        <div class="mb-1">
                            <label for="organizerId">Организатор:
                                <select class="form-select mt-2" id="organizerId"
                                        style="width: 250px" name="organizerId" required>
                                    {% for organizer in user_organizers %}
                                        <option value="{{ organizer['id'] }}">{{ organizer['name'] }}</option>
                                    {% endfor %}
                                </select>
                            </label>
                        </div>
                        <div class="mb-1">
                            <label for="genreId">Жанр:
                                <select class="form-select mt-2" id="genreId"
                                        style="width: 250px" name="genreId" required>
                                    {% for genre in genres %}
                                        <option value="{{ genre['id'] }}"
                                                {% if event_info['genreId'] == genre['id'] %}
                                                selected{% endif %}>{{ genre['name'] }}
                                        </option>
                                    {% endfor %}
                                </select>
                            </label>
                        </div>
                        <label for="name">Название:</label>
                        <div>
                            <input class="form-control" id="name" maxlength="150" name="name" placeholder="" required=""
                                   type="text" style='width: 250px; color: black; margin-bottom: 10px'
                                   value="{{ event_info['name'] }}">
                        </div>
                        <label for="countOfMembers">Кол-во участников:</label>
                        <div class="form-group" style="width: 250px; margin-bottom: 10px">
                            <input class="form-control" id="countOfMembers" name="countOfMembers" placeholder=""
                                   required=""
                                   type="number" style='color: black' value="{{ event_info['countOfMembers'] }}">
                        </div>
                        <div>
                            <label for="validateStatus">Валидация участников: </label>
                            <ul style="list-style-type: none; margin-left: -30px">
                                <li><input type="radio" id="validateStatus" name="validateStatus" value="REQUIRED"
                                           {% if event_info['validateStatus'][19:] == 'REQUIRED' %}checked{% endif %}>
                                    Обязательно
                                </li>
                                <li><input type="radio" id="validateStatus" name="validateStatus" value="OPTIONAL"
                                           {% if event_info['validateStatus'][19:] == 'OPTIONAL' %}checked{% endif %}>
                                    Необязательно
                                </li>
                                <li><input type="radio" id="validateStatus" name="validateStatus" value="NOT_REQUIRED"
                                           {% if event_info['validateStatus'][19:] == 'NOT_REQUIRED' %}checked{% endif %}>
                                    Без
                                    валидации
                                </li>
                            </ul>
                        </div>
                    </div>

                    <div class="col-5">
                        <label for="description">Описание:</label>
                        <textarea class="form-control" id="description" maxlength="800" name="description"
                                  placeholder="" rows=18>{{ event_info['description'] }}
                        </textarea>
                    </div>
                    <div class="col-4">
                        <label for="concession">Концессии (необязательно): </label>
                        <textarea class="form-control" id="concession" name="concession" rows=18
                        >{{ event_info['concession'] }}</textarea>
                    </div>
                </div>
            </div>
        </div>

        <div class="card mb-4">
            <div class="table-header shadow" style="background-color: #f8e7c9">
                <div class="card-body">
                    <span class="h5">Даты и время проведения</span>
                </div>
            </div>

            <div class="card-body">
                <div id="dateTimeContainer" class="d-flex">
                    <div class="me-5">
                        <label for="startDateTime">Начало:</label>
                        <div style="text-align: center">
                            <input class="form-control" id="startDateTime" name="startDateTime"
                                   required="" type="datetime-local" style='color: black; width: 250px'
                                   value="{{ event_info['eventDates'][0]['startDateTime'] }}">
                        </div>
                    </div>
                    <div>
                        <label for="endDateTime">Окончание:</label>
                        <input class='form-control' id="endDateTime" name="endDateTime" required=""
                               style='color: black; width: 250px' type="datetime-local"
                               value="{{ event_info['eventDates'][0]['endDateTime'] }}">
                    </div>
                </div>
            </div>
        </div>

        <div class="card mb-4">
            <div class="table-header shadow" style="background-color: #f8e7c9">
                <div class="card-body">
                    <span class="h5">Банка мероприятия</span>
                </div>
            </div>

            <div class="card-body">
                <div class="row">
                    <div class="d-flex">
                        <div class="me-5">
                            <label for="expectedAmount">Цель сбора (₽):</label>
                            <div style="width: 250px; margin-bottom: 10px">
                                <input class="form-control" id="expectedAmount" name="expectedAmount" placeholder=""
                                       required=""
                                       type="number" style='color: black'
                                       value="{{ (event_info['expectedAmount']|string)[:-2] }}">
                            </div>
                        </div>
                        <div>
                            <label for="recommendedDonation">Рекомендованный донат (₽):</label>
                            <div style="width: 250px; margin-bottom: 10px">
                                <input class="form-control" id="recommendedDonation" name="recommendedDonation"
                                       placeholder=""
                                       required=""
                                       type="number" style='color: black'
                                       value="{{ (event_info['recommendedDonation']|string)[:-2] }}">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="card">
            <div class="table-header shadow" style="background-color: #f8e7c9">
                <div class="card-body">
                    <span class="h5">Место проведения</span>
                </div>
            </div>
            <div class="card-body">
                <div class="row">
                    <div class="col-3">
                        <div>
                            <label for="venueName">Название:</label>
                            <input class="form-control mb-2" id="venueName" maxlength="150" name="venueName"
                                   placeholder="" required=""
                                   style='color: black; width: 250px; margin-bottom: 10px'
                                   type="text" value="{{ event_info['venues'][0]['name'] }}">
                        </div>
                        <div>
                            <label for="address">Улица, дом:</label>
                            <input class="form-control mb-2" id="address" maxlength="150" name="address"
                                   placeholder=""
                                   required="" style='color: black; width: 250px; margin-bottom: 10px'
                                   type="text" value="{{ event_info['venues'][0]['address'] }}">
                        </div>
                        <div>
                            <label for="seats">Кол-во сидячих мест:</label>
                            <input class="form-control mb-2" id="seats" min="0" name="seats" placeholder=""
                                   type="number" style='color: black; width: 250px; margin-bottom: 10px'
                                   value="{{ event_info['venues'][0]['seats'] }}">
                        </div>
                        <div>
                            <label for="country">Страна:</label>
                            <input class="form-control mb-2" id="country" maxlength="150" name="country"
                                   placeholder=""
                                   required="" style='color: black; width: 250px; margin-bottom: 10px'
                                   type="text"
                                   value="{{ event_info['venues'][0]['city']['state']['country']['name'] }}">
                        </div>
                        <div>
                            <label for="state">Регион:</label>
                            <input class="form-control mb-2" id="state" maxlength="150" name="state" placeholder=""
                                   required="" style='color: black; width: 250px; margin-bottom: 10px'
                                   type="text"
                                   value="{{ event_info['venues'][0]['city']['state']['name'] }}">
                        </div>
                        <div>
                            <label for="city">Город:</label>
                            <input class="form-control mb-2" id="city" maxlength="150" name="city" placeholder=""
                                   required="" type="text"
                                   style='color: black; width: 250px'
                                   value="{{ event_info['venues'][0]['city']['name'] }}">
                        </div>
                    </div>
                    <div class="col-5">
                        <div class="mb-2">
                            <label for="venueDescription">Описание:</label>
                            <textarea class="form-control" id="venueDescription" maxlength="800"
                                      name="venueDescription" placeholder="" rows=21
                            >{{ event_info['venues'][0]['description'] }}</textarea>
                        </div>
                    </div>
                    <div class="col-4">
                        <div class="mb-2">Фотография:</div>
                        <div class="card card-body shadow justify-content-center">
                            <div class="mb-3 d-flex">
                                <svg class="icon text-gray-500 me-2" fill="currentColor"
                                     viewBox="0 0 20 20"
                                     xmlns="http://www.w3.org/2000/svg">
                                    <path fill-rule="evenodd"
                                          d="M8 4a3 3 0 00-3 3v4a5 5 0 0010 0V7a1 1 0 112 0v4a7 7 0 11-14 0V7a5 5 0 0110 0v4a3 3 0 11-6 0V7a1 1 0 012 0v4a1 1 0 102 0V7a3 3 0 00-3-3z"
                                          clip-rule="evenodd"></path>
                                </svg>
                                <div class=" text-left">
                                    <div class="fw-normal text-dark mb-1">Загрузите фотографию</div>
                                    <div class="small text-gray-500">JPG/JPEG или PNG.</div>
                                </div>
                            </div>
                            <div>
                                <input type="file" id="venueImage" name="photos"
                                       accept="image/jpeg, image/png"/>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div style="margin-top: 25px;margin-bottom: 20px; display: flex; justify-content: center">
            <button class="btn btn-secondary d-flex align-items-center justify-content-center">Сохранить
                изменения
            </button>
            <a class="btn btn-gray-800 d-inline-flex align-items-center me-2" style="margin-left: 20px"
               href="/">Назад</a>
        </div>
        <div style="justify-content: center; display: flex; margin-bottom: 50px;">
            <a class="btn btn-danger d-inline-flex align-items-center me-2"
               style="margin-left: 10px"
               href="/event/delete/{{ event_info['id'] }}">Удалить мероприятие</a>
        </div>
    </form>
{% endblock %}
<script src="https://appsrv1-147a1.kxcdn.com/volt-dashboard-django-v1.0.8/vendor/bootstrap/dist/js/bootstrap.min.js"></script>

</body>
</html>