/* Точки обрезки */
.cropper-point {
    width: 10px;
    height: 10px;
    opacity: .5;
    background-color: lightgray;
    box-shadow: 0 0 0 1px black;
}
/* Правая нижняя точка обрезки */
.cropper-point.point-se {
    width: 10px;
    height: 10px;
    opacity: .5;
    background-color: lightgray;
    box-shadow: 0 0 0 1px black;
}
/* Линия обрезки */
.cropper-line {
  display: none !important;
}
/* Скрытие линий зоны обрезки */
.cropper-view-box,
.cropper-face {
  border: none;
  outline: none;
}
/* Убрать крестик в центре зоны обрезки */
.cropper-center {
  display: none !important;
}